<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SqlLab">
    <meta name="author" content="SqlLab">

    <title>SqlLab</title>

    {% load staticfiles %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/module.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>@media (min-width: 500px) {
        .nav .navbar .navbar-custom .navbar-fixed-top{
            padding-top:0 !important;
            padding-bottom:0 !important;
        }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
      background-color: #f1f1f1;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
      height:100%;
      background-color: #f1f1f1;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
      color:black;
  }
  .sidebar-nav .navbar li a:hover {
    padding-top: 12px;
    padding-bottom: 12px;
      color:white;
      background-color:#555;
  }

  img {
      width:100%;
      border:3px solid black;
  }

  p {
    font-family: sans-serif;
      font-size: larger;
    color: #000;
}

  .header {
      background-color: orange;
      padding: 7px;
      border-radius:12px;
  }

}</style>
</head>

<body id="page-top" class="index">
{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                    <h1 style="text-align:left">SqLLAB Help</h1>
                </a>
            </div>
        </div>
    </nav>


<header class="intro" style="width:0px; margin-top:50px">
<div class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" style="margin-left: -15px">
            <li>Instructor</li>
            <li><a href="#createmodule">Create module</a></li>
            <li><a href="#uploadstudentlist">Upload student list</a></li>
            <li><a href="#createtest">Create test</a></li>
              <li><a href="#reviewtestinstructor">Review test</a></li>
              <li>Student</li>
            <li><a href="#taketest">Take test</a></li>
              <li><a href="#reviewteststudent">Review test</a></li>
          </ul>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">
      <br>
      <div style="text-decoration: underline; color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 21px; font-weight: 700; margin: 0 0 0; text-transform: uppercase;">
          Instructor (has all the functionalities of students as well)
      </div>
      <p id="createmodule" class="header">CREATE A MODULE</p>
      <p>1.Upon logging into the system for the first time, a page listing all the modules under an instructor, will be displayed, as shown in figure 1.</p>
      <p>2. To create a module, click the "Create new module" button as shown below.</p>
      <p><figure><img src="/static/img/Sqllab_1.png" alt="create new module">
          <figcaption style="text-align:center">Figure 1- Empty modules list</figcaption></figure></p>
      <p>3. Fill in the details of the module in the form. When done, click the "Create new module" button as shown in figure 2.</p>
       <p><figure><img src="/static/img/Sqllab_2.png" alt="create module form">
          <figcaption style="text-align:center">Figure 2- Create module form</figcaption></figure></p>
      <p>4. Upon successful creation of a module, the module will be displayed in the modules list page as shown in figure 3.</p>
      <p><figure><img src="/static/img/Sqllab_9.png" alt="successfully created module">
          <figcaption style="text-align:center">Figure 3- Module successfully created</figcaption></figure></p>
      <p>5. The next step would be to upload the list of students enrolled in that module you just created.</p>
      <br>

      <p id="uploadstudentlist" class="header">UPLOAD STUDENT LIST</p>
      <p>1. On the module listing page, for the module you wish to upload the student list for, click on "View Students", as highlighted in figure 4 below.</p>
      <p><figure><img src="/static/img/Sqllab_4.png" alt="View students">
          <figcaption style="text-align:center">Figure 4- View students for a module</figcaption></figure></p>
      <p>3. Upload a text file containing student email addresses, with each line of the text file an email address.</p>
      <p><figure><img src="/static/img/Sqllab_5.png" alt="Upload student list form">
          <figcaption style="text-align:center">Figure 5- Upload student list form</figcaption></figure></p>
         <p>4. The format of a sample text file containing student email addresses is shown in figure 6.</p>
      <p><figure><img src="/static/img/Sqllab_3.png" alt="sample text file">
          <figcaption style="text-align:center">Figure 6- Sample student email addresses text file</figcaption></figure></p>
      <p>5. After uploading the text file, click the "Upload Student List" button as shown in figure 5.</p>
      <p>6. On successful upload of the student list, the names of all students(only those who have registered with SqlLab),
          and their corresponding email addresses will be shown. Those who have yet to register with SqlLab will be listed as unknown (as shown in Figure 7 below).
          In this way, you can easily track which student has registered and which has not.</p>
      <p><figure><img src="/static/img/Sqllab_6.png" alt="List of students">
          <figcaption style="text-align:center">Figure 7- List of students enrolled in module</figcaption></figure></p>
      <br>

      <p id="createtest" class="header">CREATE A TEST</p>
      <p>1. On the modules listing page, click the "View Tests" button (Figure 8) for the module you want to add the test for.</p>
      <p><figure><img src="/static/img/Sqllab_7.png" alt="view tests">
          <figcaption style="text-align:center">Figure 8- View Tests Button</figcaption></figure></p>
      <p>2. Click the "Create new test" button as shown in figure 9 below.</p>
       <p><figure><img src="/static/img/Sqllab_8.png" alt="create new test">
          <figcaption style="text-align:center">Figure 9- Create new test</figcaption></figure></p>

      <p>3. Fill in the test details. Upload a tab-separated .txt or .tsv file for the questions and answers and a .sql dump, as indicated in figure 10 below.</p>
      <p><figure><img src="/static/img/createtest_1.png" alt="create test form">
          <figcaption style="text-align:center">Figure 10- Create test form</figcaption></figure></p>
      <p>4. A sample question, answer and mark file is shown below. The format for each line of the file:</p><br>
      <p>   Question(tab)Answer(tab)Marks for question</p>
      <p><figure><img src="/static/img/createtest_sampleqa.png" alt="sample qa text">
          <figcaption style="text-align:center">Figure 11- Sample question, answer and mark file</figcaption></figure></p>
      <p>5. A sample .sql dump is shown below:</p>
      <p><figure><img src="/static/img/createtest_samplesqldump.png" alt="sample .sql dump">
          <figcaption style="text-align:center">Figure 12- Sample .sql dump</figcaption></figure></p>
      <p>6. Having completed the form, click the "Create new test" button as shown in Figure 10. Upon successful creation of the test, the test details will be displayed on the tests page for the module, as shown below:</p>
      <p><figure><img src="/static/img/createtest_2.png" alt="Successfully created test">
          <figcaption style="text-align:center">Figure 13- Created test successfully</figcaption></figure></p>
      <br>

    <p id="reviewtestinstructor" class="header">REVIEW A TEST</p>
      <p>1. On the tests listing page for the module you wish to review a test for, click the "Review test" button of the test you want to review:</p>
      <p><figure><img src="/static/img/instructorreviewtest.png" alt="review test button">
          <figcaption style="text-align:center">Figure 14- Review test button</figcaption></figure></p>
      <p>2. The student list of the class, including the instructor, will be shown and their corresponding number of attempts at the test and the highest marks obtained, as shown in the sample below:</p>
       <p><figure><img src="/static/img/reviewtest_liststudent.png" alt="review student attempts">
          <figcaption style="text-align:center">Figure 15- Review student attempts</figcaption></figure></p>
      <p>3. If you click on the student's name, details of every attempt by the student will be shown:</p>
      <p><figure><img src="/static/img/reviewtest_studentAttempts.png" alt="detailed student attempts">
          <figcaption style="text-align:center">Figure 16- Detailed student attempts</figcaption></figure></p>
      <p>4. If you click on an attempt, as highlighted in figure 16, you can view the marks obtained by the student for each question as shown below:</p>
      <p><figure><img src="/static/img/studentreviewtest_sample.png" alt="detailed student attempt">
          <figcaption style="text-align:center">Figure 17- Student test attempt</figcaption></figure></p>
      <br>
      <br>

      <p style="color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 21px; font-weight: 700; margin: 0 0 0; text-transform: uppercase;"">STUDENT</p>
      <p id="taketest" class="header">TAKE A TEST</p>
      <p>1.Upon logging into the system, a page listing all the modules you are enrolled in, will be displayed. Click "View tests"(Figure 18) of the module you wish to take the test for.</p>
      <p><figure><img src="/static/img/taketest_1.png" alt="view tests">
          <figcaption style="text-align:center">Figure 18- View tests for a module</figcaption></figure></p>
      <p>2. Click "Take test" for the test you wish to take:</p>
       <p><figure><img src="/static/img/taketest_1b.png" alt="take test button">
          <figcaption style="text-align:center">Figure 19- Take test for a module</figcaption></figure></p>
      <p>3. Click "Confirm" once you are sure you want to take the test:</p>
      <p><figure><img src="/static/img/taketest_3.png" alt="confirm take test">
          <figcaption style="text-align:center">Figure 20- Confirm take test</figcaption></figure></p>
      <p>4. Below is a sample of a test:</p>
      <p><figure><img src="/static/img/taketest_sample.png" alt="test sample">
          <figcaption style="text-align:center">Figure 21- Sample test</figcaption></figure></p>
      <p>5. Clicking "Show tables" allows you to view the tables needed for that test (figure 22).</p>
      <p><figure><img src="/static/img/taketest_showtablespng.png" alt="show tables">
          <figcaption style="text-align:center">Figure 22- View tables for a test</figcaption></figure></p>
      <p>6. You can check the output of your answer query by executing it. Type your query in the textbox at the top as highlighted in red in figure 21. Click "Execute Query". The figure 21 shows the result of executing the query circled in red.
          The query shown gives the result 'panadol' which is the expected answer.</p>
      <p><figure><img src="/static/img/taketest_executequery.png" alt="execute query">
          <figcaption style="text-align:center">Figure 23- Execute answer query</figcaption></figure></p>
      <p>7. When you have completed the test, click the "Submit button" at the end of the test as shown below:</p>
      <p><figure><img src="/static/img/taketest_submit.png" alt="Submit test">
          <figcaption style="text-align:center">Figure 24- Submit test</figcaption></figure></p>
      <p>8. Click "Confirm" when you are ready to submit the test:</p>
      <p><figure><img src="/static/img/taketest_submitConfirm.png" alt="submit confirm">
          <figcaption style="text-align:center">Figure 25- Confirm test submission</figcaption></figure></p>
      <p>9. Upon successful submission of the test, you will be redirected to the tests page of the module where you can observe the number of attempts of the that test would have increased by 1.</p>
      <p><figure><img src="/static/img/taketest_Successful.png" alt="Sucessful submission">
          <figcaption style="text-align:center">Figure 26- Submitted test successfully</figcaption></figure></p>

      <br>

      <p id="reviewteststudent" class="header">REVIEW A TEST</p>
      <p>1.Upon logging into the system, a page listing all the modules you are enrolled in, will be displayed. Click "View tests"(figure 27 below) for the module you wish to review  the test.</p>
      <p><figure><img src="/static/img/taketest_1.png" alt="view tests">
          <figcaption style="text-align:center">Figure 27- View tests for a module</figcaption></figure></p>
  <p>2.Click "Review test" for the test you wish to review.  </p>
      <p><figure><img src="/static/img/studentreviewtest.png" alt="review test button">
          <figcaption style="text-align:center">Figure 28- Review test button</figcaption></figure></p>
      <p>3. A list of attempts of the test will be displayed and the corresponding marks for each attempt:</p>
       <p><figure><img src="/static/img/studentreviewtest_1.png" alt="review test attempt">
          <figcaption style="text-align:center">Figure 29- Review test attempts</figcaption></figure></p>
      <p>4. To get the details of how you performed for each question, click the attempt as highlighted in figure 29.
          A sample review of a test is shown below, where the marks obtained for each question are displayed to the right:</p>
      <p><figure><img src="/static/img/studentreviewtest_sample.png" alt="sample review test">
          <figcaption style="text-align:center">Figure 30- Review test sample</figcaption></figure></p>
      <br>
  </div>
</div>
</div>
    </header>
{% endblock %}
</body>