<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A reward-based trip microblogging platform">
    <meta name="author" content="SqlLab">

    <title>SqlLab</title>

    {% load staticfiles %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Custom CSS -->
    <link  rel="stylesheet" href="{% static 'css/instructormodule.css' %}">
    <link  rel="stylesheet" href="{% static 'css/nav.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    {% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                 <h1>SqLLAB</h1>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="dropdown">
                              <img class="img-circle" src="../../static/img/profile.png" type="button" style="cursor: pointer">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="button-container">
                    <div id="module-header">
                        <h2>{{ class.class_name }}</h2>
                    </div>
                    <a href="/SqlLabApp/createtest">
                            <div id="create-test">CREATE NEW TEST</div>
                    </a>
                    <form class="form" id="action-container">
                        <p>Test 1</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 2</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 3</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 4</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 5</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 6</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 7</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 8</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 9</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 10</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 11</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 12</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 13</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 14</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                    <form class="form" id="action-container">
                        <p>Test 15</p>
                         <ul id="menu">
                            <li class="sub"><a href="#">Edit</a> | </li>
                            <li class="sub"><a href="#">Delete</a> | </li>
                            <li class="sub"><a href="#">Review</a> | </li>
                            <li class="sub"><a href="#">Take Test</a></li>
                         </ul>
                    </form>
                </div>
            </div>
        </div>
    </header>

    {% endblock %}
</body>