<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SqlLab">
    <meta name="author" content="SqlLab">

    <title>SqlLab</title>

    {% load staticfiles %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/module.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'module' %}">
                    <h1>SqLLAB</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="dropdown">
                            <a href="{% url 'module' %}">My Modules</a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a>Hi, {{ full_name }}!&ensp;&ensp;▾</a>
                            <div class="dropdown-content">
                                <a href="#">Edit Profile</a>
                                <a href="{% url 'main' %}">Logout</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="{% url 'help' %}" target="_blank">Help</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header class="intro">
        <div class="intro-body">
            <div class="container">
                {% ifequal user_role 'INS' %}
                    <a href="{% url 'createmodule' %}">{% csrf_token %}
                        <button class="btn create-module" type="submit">CREATE NEW MODULE</button>
                    </a>
                {% endifequal %}

                <div class="button-container">
                    {% if class_list %}
                        {% for module, number_of_students in class_list %}
                            <div class="panel-group">
                            <div class="panel panel-default" id="panel-container">
                                <div class="panel-heading" id="module-container">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse{{ module.classid }}">
                                            <p>{{ module.class_name }}</p>
                                            <ul id="menu">
                                                {% ifequal user_role 'INS' %}
                                                    <li class="sub"><a href="{% url 'teachermanagemodule' module.classid %}">View Students</a> |</li>
                                                {% endifequal %}
                                                <li class="sub"><a href="{% url 'test' module.classid %}">View
                                                    Tests</a></li>
                                                {% ifequal user_role 'INS' %}
                                                    <li class="sub"><a href="{% url 'editmodule' module.classid %}">|
                                                        Edit Module</a> |
                                                    </li>
                                                    <li class="sub"><a data-toggle="modal" data-target="#modal{{ module.classid }}">Delete
                                                        Module</a>
                                                        <div class="modal fade" id="modal{{ module.classid }}" role="dialog">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">{{ module.class_name }}</h4>
                                                                    </div>
                                                                    <div class="modal-body" id="modal-body" style="height: 50px;">
                                                                        <p>Are you sure you want to delete the module?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <a href="{% url 'deletemodule' module.classid %}">
                                                                            <button type="button" class="btn btn-success">Delete</button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endifequal %}
                                            </ul>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ module.classid }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p style="text-indent: 1em;">
                                            <strong>Semester:</strong>&ensp;&ensp;{{ module.semester }}</p>
                                        <p style="text-indent: 1em;">
                                            <strong>Facilitators:</strong>&ensp;&ensp;{{ module.facilitators }}</p>
                                        {% ifequal user_role 'INS' %}
                                            <p style="text-indent: 1em;"><strong>Number of Students:</strong>&ensp;&ensp;{{ number_of_students }}
                                            </p>
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <p>There is currently no module.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
</body>