<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A reward-based trip microblogging platform">
    <meta name="author" content="SqlLab">

    <title>SqlLab</title>

    {% load staticfiles %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/taketest.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
{% block content %}

    <button data-toggle="collapse" data-target="#tables" id="expand-tables" class="btn" type="submit">
        <p>
            SHOW TABLES
            <i class="fa fa-angle-double-down animated" style="margin-top: 10px; font-size: 20px"></i>
        </p>
        <div id="container">
            <div id="tables" class="collapse pre-scrollable">
                {% for table in tables %}
                    <div id="module-header">
                        <h3>Table Name</h3>
                    </div>
                    <table class="table table-bordered">
                        {% for row in table %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for column_name in row %}
                                        <th>{{ column_name }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% else %}
                                <tbody>
                                <tr>
                                    {% for row_element in row %}
                                        <td>{{ row_element }}</td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </button>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div id="module-header">
                    <h2>{{ test_name }}</h2>
                </div>
                {% for question in qst_data %}
                    {#                    <a href="{% url 'instructortest' question.qid %}">{% csrf_token %}#}
                    <div id="action-container">
                        <h4>{{ question.qid }}) {{ question.question }}</h4><br>
                        {{ take_test_form.as_p }}
                    </div>
                    {#                    </a>#}
                {% endfor %}
                <button id="create-test" class="btn" type="submit">SUBMIT</button>
            </div>
        </div>
    </header>

{% endblock %}
</body>