.intro {
    display: table;
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 100px 0;
    vertical-align: middle;
    text-align: left;
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 150px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.form input[type=text],
.form input[type=number]{
    display: inline-table;
    margin-bottom: 15px;
    outline: none;
    padding: 15px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    border: 1px solid rgba(74, 74, 74, 0.22);
    background: white;
    color: #204056;
    text-align: left;
}

#upload-file1,
#upload-file2,
#upload-file3 {
    display:  inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 350px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(74, 74, 74, 0.075);
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #204056;
}

#upload-file1:hover,
#upload-file2:hover,
#upload-file3:hover {
    background-color: #204056;
    /*box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);*/
    color: white;
    text-align: center;
}

#upload-icon {
    font-size: 70px;
    margin-bottom: 15px;
}

#icon {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#create-test {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    /*border: 1px solid rgba(74, 74, 74, 0.075);*/
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background: #1e9f75;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

#create-test:hover {
    cursor: pointer;
    /*box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);*/
    text-decoration: none;
}

#selectedQuestionFiles,
#selectedAnswerFiles,
#selectedDataFiles {
    color: red;
}

#test-name {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    font-size: 15px;
}