.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    vertical-align: middle;
    text-align: left;
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 150px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.container {
    margin-top: 110px;
}

#module-header h2 {
    border-bottom: 1px solid #CCC;
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

h3 {
    border-bottom: 1px solid #CCC;
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

#id_student_answer, #query_area {
    display: inline;
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    border: 1px solid rgba(74, 74, 74, 0.22);
    background: white;
    color: #204056;
    text-align: left;
}

#query_area {
    height: 50px;
    border-radius: 10px;
}

#execute-select-query-btn {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background: #1e9f75;
    color: white;
    text-align: center;
}

#create-test {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background: #1e9f75;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

#create-test:hover {
    cursor: pointer;
    text-decoration: none;
}

#expand-tables {
    position: fixed;
    border-radius: 0;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background: #204056;
    color: white;
    text-align: center;
}

#expand-tables p {
    padding: 15px;
}

#container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: 0;
    background: white;
    color: #204056;
    padding: 15px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

#tables {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    text-align: left;
}

th {
    text-align: center;
    font-size: 15px;
    background-color: white;
    color: black;

}

tr {
    text-align: center;
    font-size: 13px;
    color: #204056;
}

#expand-tables {
    z-index: 1;
}

.intro {
    z-index: 2;
}

.row {
    margin-bottom: 10px;
    word-break:break-all;
}